table.footer-wrap
  tr
    td
    td.container
      .content
        table
          tr
            td(align='center')
              p.address
                | 1906 El Camino Real, Suite 201, Menlo Park, CA 94027, USA
              a(href='#')
                unsubscribe Unsubscribe
    td

