table
    tr.section
        td
            p.corner-wrapper
                a(href="https://www.youtube.com/watch?v=2lFp7ymh5Eg" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/youtube-1.png" alt="logo")


            p.callout
                | Web Map Service (WMS)

            p.clarification
                | WMS - is a standard protocol for serving georeferenced map images which a map server generates using data from a GIS database. You can browse the imagery from LandViewer directly in your desktop or online software applications like Qgis, ArcGIS, etc.
            a.btn try now
            p.tutorial
                a(href='#') watch tutorial
    
    tr.space
        td


    tr.section
        td
            p.corner-wrapper
                a(href="https://www.youtube.com/watch?v=MtuzPGnhieM" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/youtube-2.png" alt="logo")
                
                


            p.callout
                | Comparison Slider

            p.clarification
                | Viewing functionality that allows to open two images and provides the convenience of comparing pictures with the slider that split the screen into two parts.
            a.btn try now
            p.tutorial
                a(href='#') watch tutorial
                
    tr.space
        td

    tr.section
        td
            p.corner-wrapper
                a(href="https://www.youtube.com/watch?v=-FlxM_0S2lA" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/youtube-3.png" alt="logo")


            p.callout
                | AOI Notification Function

            p.clarification
                | Receiving the email notifications of new images selected by you AOI with a preview and characteristics scenes.
            a.btn try now
            p.tutorial
                a(href='#') watch tutorial
                
                
    tr.signature
        td
            p Best regards, EOS Team