table.social(width='100%')
    tr
      td
        table
          tr
            td
              p.follow Follow Us!
              p.social-icons
                a(href="https://www.facebook.com/eosda/" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/facebook.png" alt="facebook")
                a(href="https://www.linkedin.com/company-beta/10596231/" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/linkedin.png" alt="linkedin")
                a(href="https://twitter.com/eos_da" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/twitter.png" alt="twitter")    
                a(href="https://www.instagram.com/eosda" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/instagram.png" alt="instagram")
                a(href="https://medium.com/@eos_da" target="_blank")
                    img(src="http://jevobook.dp.ua/portfolio/images/medium.png" alt="medium")
                
        table
          tr
            td
              a(href="https://eos.com" target="_blank")
                img.logo-social(src="http://jevobook.dp.ua/portfolio/images/logo.png" alt="logo")
              p.copyright
                | &copy; Copyright 2018 Earth Observing System.
                br
                | All rights reserved. 
                
                  
              p.contact-links
                a(href='#') Contact us
                | &bull;
                a(href='#') Terms of Use
                | &bull;
                a(href='#') Privacy Policy
        span.clear