table.welcome
    tr
        td.hello
            a(href="https://eos.com" target="_blank")
                img(src='http://jevobook.dp.ua/portfolio/images/logo.png')
            span Hello, {Name}
            
    tr
        td
            p.lead
                | Today we want remind you about super useful features of LandViewer (but about which you probably didn't know).