doctype transitional
html
    head

        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel="stylesheet" href="css/main.css")
        title EOS - test email


    body(bgcolor='#f2f2f2')

        table.body-wrap
          tr
            td.container
              .content
                include sections/welcome
                include sections/main
                include sections/social
                include sections/footer
            td    

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="js/main.min.js")